:root {
    --primary-color: #fff;
    /* Color de texto predeterminado */
    --default-character-bg: #eee;
    /* Fondo predeterminado de la ficha del
   personaje */
    --background-color: #f0f8ff;
    /* Color de fondo general del
   body */
    --card-border-radius: 5px;
    /* Radio de borde para las tarjetas */
    /* Colores adicionales para personalización */
    --color-info: #17a2b8;
    /* Información */
    --color-success: #28a745;
    /* Éxito */
    --color-warning: #ffc107;
    /* Advertencia */
    --color-danger: #dc3545;
    /* Peligro */
    --color-light: #f8f9fa;
    /* Claro */
    --color-dark: #343a40;
    /* Oscuro */
    /* Colores para las fichas de personajes */
    --character-bg-1: #6c757d;
    /* Gris oscuro */
    --character-bg-2: #007bff;
    /* Azul */
    --character-bg-3: #acff2fb9;
    /* Verde */
    --character-bg-4: #dc3545;
    /* Rojo */
    --character-bg-5: #ffc107;
    /* Amarillo */
    --sidePane: 250px;
    --thumbSize: 100px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background-color: var(--character-bg-3);
    background-color: light;
}

h1 {
    text-align: center;
    font-size: 50px;
    padding: 15px;
}

main {
    display: grid;
    grid-template-columns: 0.6fr 0.6fr 0.6fr 0.6fr;
    gap: 15px;
    background-color: var(--background-color);
}

.image-container {
    display: flex;
}

.image-container img {
    width: 100%;
    border: solid 1px rgba(0, 0, 0, 0.363);
}

article {
    width: 85%;
    padding: 10px;
    box-shadow: 0px 0px 1px #000;
    border: solid 1px rgba(24, 24, 24, 0.397);
    border-radius: var(--card-border-radius);
}

#character-name,
label {
    font-size: 20px;
    padding: 10px 5px 1px 5px;
    margin-bottom: 20px;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#character-container {
    background-color: rgba(172, 255, 47, 0.726);
}

button {
    padding: 10px;
    background-color: #525ce4;
    border: none;
    cursor: pointer;
    color: aliceblue;
    border-radius: 4px;
    margin-top: 5px;
}
button:hover {
    background-color: #5b65ff;
}