:root {
    --primary-color: #fff;
    /* Color de texto predeterminado */
    --default-character-bg: #eee;
    /* Fondo predeterminado de la ficha del
   personaje */
    --background-color: #f0f8ff;
    /* Color de fondo general del
   body */
    --card-border-radius: 5px;
    /* Radio de borde para las tarjetas */
    /* Colores adicionales para personalización */
    --color-info: #17a2b8;
    /* Información */
    --color-success: #28a745;
    /* Éxito */
    --color-warning: #ffc107;
    /* Advertencia */
    --color-danger: #dc3545;
    /* Peligro */
    --color-light: #f8f9fa;
    /* Claro */
    --color-dark: #343a40;
    /* Oscuro */
    /* Colores para las fichas de personajes */
    --character-bg-1: #6c757d;
    /* Gris oscuro */
    --character-bg-2: #007bff;
    /* Azul */
    --character-bg-3: #acff2fb9;
    /* Verde */
    --character-bg-4: #dc3545;
    /* Rojo */
    --character-bg-5: #ffc107;
    /* Amarillo */
    --sidePane: 250px;
    --thumbSize: 100px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background-color: var(--character-bg-3);
}

h1 {
    text-align: center;
    font-size: 50px;
    padding: 15px;
}

main {
    display: grid;
    grid-template-columns: 0.6fr 0.6fr 0.6fr 0.6fr;
    gap: 15px;
    background-color: var(--background-color);
}

.image-container {
    display: flex;
}

.image-container img {
    width: 100%;
    border: solid 1px rgba(0, 0, 0, 0.363);
}

article {
    width: 85%;
    padding: 10px;
    box-shadow: 0px 0px 1px #000;
    border: solid 1px rgba(24, 24, 24, 0.397);
    border-radius: var(--card-border-radius);
}

#character-name,
label {
    font-size: 20px;
    padding: 10px 5px 1px 5px;
    margin-bottom: 20px;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#character-container {
    background-color: rgba(172, 255, 47, 0.726);
}




/*COLOR PANELS*/
#color-panel {
    display: flex;
    background-color: var(--background-color);
}

#galNav {
    height: 100vh;
    width: var(--sidePane);
    left: 0;
    bottom: 0;
    overflow: scroll;
    background: hsl(220, 50%, 10%);
    color: var(--background-color);
}

#galNav a {
    color: white;
    text-decoration: none;
}

#galNav ul {
    list-style-type: none;
}

#viewer {
    display: block;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: calc(100% - var(--sidePane));
}

#display {
    --size: 400px;
    width: var(--size);
    height: var(--size);
}

#gallery {
    overflow: scroll;
    height: calc(100vh - 400px);
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.thumbWrapper {
    overflow: hidden;
    width: var(--thumbSize);
    height: var(--thumbSize);
    position: relative;
    color: hsla(0, 0%, 100%, 0);
    background: hsla(0, 0%, 10%, 0);
    transition: 120ms;
}

.thumbWrapper h6 {
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: -8px;
    font-size: 10px;
}

.thumbWrapper :hover {
    color: hsla(0, 0%, 100%, 1);
    background: hsla(0, 0%, 0%, .2);
}

.thumb {
    width: var(--thumbSize);
    height: var(--thumbSize);
    margin: 0;
}

.thumbWrapper,
.album {
    cursor: pointer
}

.album {
    margin: 1em 0;
    transition: 1000ms;
}

.album:hover {
    text-decoration: underline;
}